{"openapi":"3.0.1","info":{"title":"OpenAPI spesifikasjon for roller, Åpne Data ER","description":"API-spesifikasjonsdokument for roller, Åpne Data ER","version":"1.0"},"externalDocs":{"description":"Spring Rest dokumentasjon for Åpne Data ER","url":"https://data.brreg.no/enhetsregisteret/api/docs/index.html"},"servers":[{"url":"https://data.brreg.no/enhetsregisteret/api","description":"Produksjonsmiljø"}],"tags":[{"name":"roller","description":"Operasjoner mot roller","externalDocs":{"description":"Spring Rest dokumentasjon for Åpne Data ER - Roller","url":"https://data.brreg.no/enhetsregisteret/api/docs/index.html#roller"}},{"name":"rolleoppdateringer","description":"Operasjoner mot rolleoppdateringer","externalDocs":{"description":"Spring Rest dokumentasjon for Åpne Data ER - Rolleoppdateringer","url":"https://data.brreg.no/enhetsregisteret/api/docs/index.html#rolleoppdateringer"}},{"name":"rolletyper","description":"Operasjoner mot rolletyper","externalDocs":{"description":"Spring Rest dokumentasjon for Åpne Data ER - Rolletyper","url":"https://data.brreg.no/enhetsregisteret/api/docs/index.html#rolletyper"}},{"name":"rollegruppetyper","description":"Operasjoner mot rollegruppetyper","externalDocs":{"description":"Spring Rest dokumentasjon for Åpne Data ER - Rollegruppetyper","url":"https://data.brreg.no/enhetsregisteret/api/docs/index.html#rollegruppetyper"}},{"name":"representanter","description":"Operasjoner mot representanter","externalDocs":{"description":"Spring Rest dokumentasjon for Åpne Data ER - Representanter","url":"https://data.brreg.no/enhetsregisteret/api/docs/index.html#representanter"}}],"paths":{"/enheter/{organisasjonsnummer}/roller":{"summary":"Operasjoner mot roller","description":"Innholder listen over operasjoner mot roller","get":{"tags":["roller"],"summary":"Hent ut roller basert på organisasjonsummer","description":"Hent ut liste med roller tilhørende enhet med oppgitt organisasjonsummer","operationId":"getRoller","parameters":[{"name":"organisasjonsnummer","in":"path","description":"Organisasjonsnummeret til enheten","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200"},"400":{"$ref":"#/components/responses/400"},"404":{"description":"Ressursen finnes ikke. Det kan bety at enheten ikke eksisterer, eller at enheten ikke har roller."},"500":{"$ref":"#/components/responses/500"}}}},"/roller/totalbestand":{"summary":"Operasjoner mot roller","description":"Inneholder fil med totalbestand for roller","get":{"tags":["roller"],"summary":"Last ned fil med roller for alle enheter","description":"Last ned en fil med en totalbestand for roller for alle enheter. Oppdateres 1 gang pr. døgn.","operationId":"getRollerTotalbestand","responses":{"200":{"$ref":"#/components/responses/200-roller-totalbestand"},"500":{"$ref":"#/components/responses/500-roller-totalbestand"}}}},"/oppdateringer/roller":{"summary":"Operasjoner mot rolleoppdateringer","description":"Inneholder listen over operasjoner mot rolleoppdateringer","get":{"tags":["rolleoppdateringer"],"summary":"Hent ut rolleoppdateringer","description":"Hent ut rolleoppdateringer","operationId":"getRolleoppdateringer","parameters":[{"name":"organisasjonsnummer","in":"query","description":"Filtrer hendelser på organisasjonsnummeret til enheten","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"Kommaseparert liste med organisasjonsnummer"}},{"name":"afterTime","in":"query","description":"Hent heldelser som har oppstått etter angitt tidspunkt.","required":false,"style":"form","explode":true,"schema":{"type":"string","format":"Datetime (ISO-8601): yyyy-MM-dd’T’HH:mm:ss.SSS’Z'"}},{"name":"afterId","in":"query","description":"Hent hendelser som har oppstått etter angitt ID","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"Større eller lik 0"}},{"name":"size","in":"query","description":"Hent et spesifisert antall hendelser","required":false,"style":"form","explode":true,"schema":{"type":"integer","format":"Større eller lik 1 og mindre eller lik 10000. Standardverdi er 100"}}],"responses":{"200":{"$ref":"#/components/responses/200-rolleoppdateringer"},"404":{"description":"Finner ikke oppdateringer"}}}},"/roller/rolletyper":{"summary":"Operasjoner mot rolletyper","description":"Innholder listen over operasjoner mot rolletyper","get":{"tags":["rolletyper"],"summary":"Hent ut en liste med rolletyper","description":"Hent ut en liste med rolletyper","operationId":"getRolletyper","responses":{"200":{"$ref":"#/components/responses/200-rolletyper"},"404":{"description":"Finner ikke rolletyper"}}}},"/roller/rolletyper/{kode}":{"summary":"Operasjoner mot én rolletype","description":"Én rolletype","get":{"tags":["rolletyper"],"summary":"Hent ut en rolletype basert på kode","description":"Hent ut en rolletype basert på kode","operationId":"getRolletype","parameters":[{"name":"kode","in":"path","description":"Koden til rolletypen","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200-rolletype"},"404":{"description":"Finner ikke rolletype med gitt kode"}}}},"/roller/rollegruppetyper":{"summary":"Operasjoner mot rollegruppetyper","description":"Liste med rollegruppetyper","get":{"tags":["rollegruppetyper"],"summary":"Hent ut en liste med rollegruppetyper","description":"Hent ut en liste med rollegruppetyper","operationId":"getRollegruppetyper","responses":{"200":{"$ref":"#/components/responses/200-rollegruppetyper"},"404":{"description":"Finner ikke rollegruppetyper"}}}},"/roller/rollegruppetyper/{kode}":{"summary":"Operasjoner mot én rollegruppetype","description":"Én rollegruppetype","get":{"tags":["rollegruppetyper"],"summary":"Hent ut en rollegruppetype basert på kode","description":"Hent ut en rollegruppetype basert på kode","operationId":"getRollegruppetype","parameters":[{"name":"kode","in":"path","description":"Koden til rollegruppetypen","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200-rollegruppetype"},"404":{"description":"Finner ikke rollegruppetype med gitt kode"}}}},"/roller/representanter":{"summary":"Operasjoner mot representanter","description":"Liste med representanter","get":{"tags":["representanter"],"summary":"Hent ut en liste med representanter","description":"Hent ut en liste med representanter","operationId":"getRepresentanter","responses":{"200":{"$ref":"#/components/responses/200-representanter"},"404":{"description":"Finner ikke representanter"}}}},"/roller/representanter/{kode}":{"summary":"Operasjoner mot én representant","description":"Én representant","get":{"tags":["representanter"],"summary":"Hent ut en representant basert på kode","description":"Hent ut en representant basert på kode","operationId":"getRepresentant","parameters":[{"name":"kode","in":"path","description":"Koden til representanten","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"$ref":"#/components/responses/200-representant"},"404":{"description":"Finner ikke representant med gitt kode"}}}}},"components":{"schemas":{"RolleRespons":{"required":["_links","rollegrupper"],"type":"object","properties":{"rollegrupper":{"type":"array","description":"Liste med rollegrupper knyttet til enheten","items":{"$ref":"#/components/schemas/Rollegruppe"}},"_links":{"required":["enhet","self"],"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for resultatet"}}},"enhet":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Lenke for å hente ut data om selve enheten"}}}},"description":"Lenker knyttet til resultatet"}},"description":"Responsobjekt med navn, rollegrupper og self-link"},"Rolleoppdatering":{"required":["data","id","source","specversion","time","type"],"type":"object","properties":{"specversion":{"type":"string","description":"Versjon for CloudEvent spesifikasjon"},"id":{"type":"string","description":"ID for hendelsen"},"source":{"type":"string","description":"Kilden til hendelsen"},"type":{"type":"string","description":"Type for hendelsen"},"time":{"type":"string","description":"Dato for hendelsen"},"data":{"$ref":"#/components/schemas/RolleoppdateringData"}},"description":"Rolleoppdatering i standard CloudEvent format"},"Rolleoppdateringer":{"type":"array","description":"Liste med Rolleoppdateringer","items":{"$ref":"#/components/schemas/Rolleoppdatering"}},"RolleoppdateringData":{"type":"object","properties":{"organisasjonsnummer":{"type":"string","description":"Unik id-nummer tilhørende hendelsen"}},"description":"Rolle data"},"Rollegruppe":{"required":["roller","sistEndret","type"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/Rollegruppetype"},"sistEndret":{"type":"string","description":"Dato for siste endring"},"roller":{"type":"array","description":"Liste med alle rollene i gruppen","items":{"$ref":"#/components/schemas/Rolle"}}},"description":"Rollegruppe"},"Rollegruppetype":{"required":["_links","beskrivelse","kode"],"type":"object","properties":{"kode":{"type":"string","description":"Kode for rollegruppetype"},"beskrivelse":{"type":"string","description":"Beskrivelse av rollegruppetypen"},"_links":{"required":["self"],"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for rollegruppetype"}}}},"description":"Lenke for rollegruppetype"}},"description":"Rollegruppetype, og beskrivelse av typen"},"Rollegruppetyper":{"type":"object","properties":{"_embedded":{"type":"object","properties":{"rollegruppetyper":{"type":"array","description":"Liste med rollegruppetyper","items":{"$ref":"#/components/schemas/Rollegruppetype"}},"_links":{"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for rollegruppetype"}}}},"description":"Lenke for rollegruppetype"}},"description":"HAL embedded objekt"},"_links":{"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for rollegruppetyper"}}}},"description":"Lenke for rolletyper"}},"description":"Rollegruppetype, og beskrivelse av typen"},"Rolle":{"required":["fratraadt","type"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/Rolletype"},"person":{"$ref":"#/components/schemas/Person"},"enhet":{"$ref":"#/components/schemas/RolleEnhet"},"ansvarsandel":{"type":"string","description":"Rollens ansvarsandel for selskapets forpliktelser, i brøk eller prosent"},"valgtAv":{"$ref":"#/components/schemas/Representant"},"fratraadt":{"type":"boolean","description":"Fratrådt fra rolle"},"fullmektige":{"type":"array","description":"Liste over fullmektige","items":{"$ref":"#/components/schemas/Fullmektig"}},"rekkefolge":{"type":"integer","description":"Rekkefølgen på rollen i gruppen"}},"description":"Rolle tilknyttet person eller enhet"},"Rolletype":{"required":["_links","beskrivelse","kode"],"type":"object","properties":{"kode":{"type":"string","description":"Kode for rolletype"},"beskrivelse":{"type":"string","description":"Beskrivelse av rolletypen"},"_links":{"required":["self"],"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for rolletype"}}}},"description":"Lenke for rolletype"}},"description":"Rolletype, og beskrivelse av typen"},"Rolletyper":{"type":"object","properties":{"_embedded":{"type":"object","properties":{"rolletyper":{"type":"array","description":"Liste med rolletyper","items":{"$ref":"#/components/schemas/Rolletype"}},"_links":{"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for rolletype"}}}},"description":"Lenke for rolletype"}},"description":"HAL embedded objekt"},"_links":{"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for rolletyper"}}}},"description":"Lenke for rolletyper"}},"description":"Liste med rolletyper"},"Representant":{"required":["_links"],"type":"object","properties":{"kode":{"type":"string","description":"Kode"},"beskrivelse":{"type":"string","description":"Beskrivelse tilknyttet koden"},"_links":{"required":["self"],"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for representant"}}}},"description":"Lenker for representant"}},"description":"Kode og beskrivelse av hvem rollen representerer (ikke innehaver)"},"Representanter":{"type":"object","properties":{"_embedded":{"type":"object","properties":{"representanter":{"type":"array","description":"Liste med representanter","items":{"$ref":"#/components/schemas/Representant"}},"_links":{"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for representant"}}}},"description":"Lenke for representant"}},"description":"HAL embedded objekt"},"_links":{"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for representanter"}}}},"description":"Lenke for representanter"}},"description":"Liste med representanter"},"RolleEnhet":{"required":["_links","erSlettet","navn","organisasjonsform","organisasjonsnummer"],"type":"object","properties":{"organisasjonsnummer":{"type":"string","description":"Unik id-nummer tilhørende enheten"},"organisasjonsform":{"required":["beskrivelse","kode"],"type":"object","properties":{"kode":{"type":"string","description":"Kode til organisasjonsformen"},"beskrivelse":{"type":"string","description":"Beskrivelse av organisasjonsformen"},"utgaatt":{"type":"string","description":"Dato for om organisasjonsformen er utgått"},"_links":{"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for organisasjonsform"}}}},"description":"Lenke for organisasjonsform"}},"description":"Organisasjonsformen til enheten"},"navn":{"type":"array","description":"Enhetens navn","items":{"type":"string","description":"Navn"}},"erSlettet":{"type":"boolean","description":"Om hvorvidt enheten er slettet"},"_links":{"required":["self"],"type":"object","properties":{"self":{"required":["href"],"type":"object","properties":{"href":{"type":"string","description":"Self-link for tilknyttet enhet"}}}},"description":"Lenker for tilknyttet enhet"}},"description":"Enhet som innehar rolle"},"Fullmektig":{"type":"object","properties":{"navn":{"type":"string","description":"Navn på fullmektig"},"adresse":{"type":"array","description":"Adresser/adresselinjer knyttet til fullmektig","items":{"type":"string","description":"Adresse/adresselinje"}}},"description":"Fullmektig, med navn og adresser"},"Person":{"required":["erDoed","fodselsdato","navn"],"type":"object","properties":{"fodselsdato":{"type":"string","description":"Personens fødselsdato"},"navn":{"required":["etternavn","fornavn"],"type":"object","properties":{"fornavn":{"type":"string","description":"Personens fornavn"},"mellomnavn":{"type":"string","description":"Personens mellomnavn"},"etternavn":{"type":"string","description":"Personens etternavn"}},"description":"Personens fulle navn"},"verge":{"$ref":"#/components/schemas/Verge"},"erDoed":{"type":"boolean","description":"Om hvorvidt personen er død"}}},"Verge":{"required":["erDoed","fodselsdato","navn"],"type":"object","properties":{"fodselsdato":{"type":"string","description":"Vergens fødselsdato"},"navn":{"required":["etternavn","fornavn"],"type":"object","properties":{"fornavn":{"type":"string","description":"Vergens fornavn"},"mellomnavn":{"type":"string","description":"Vergens mellomnavn"},"etternavn":{"type":"string","description":"Vergens etternavn"}},"description":"Vergens fulle navn"},"erDoed":{"type":"boolean","description":"Om hvorvidt vergen er død"}}},"RollerBadRequestRespons":{"required":["status","sti"],"type":"object","properties":{"tidsstempel":{"type":"integer","description":"Tidspunkt for når feilen oppstod."},"status":{"type":"integer","description":"HTTP-statuskode for feilmeldingen"},"feilmelding":{"type":"string","description":"Feilmelding"},"sti":{"type":"string","description":"Sti til dette endepunktet"},"antallFeil":{"type":"integer","description":"Antallet feil som følge av ugyldige parametere"},"valideringsfeil":{"type":"array","description":"Liste over valideringsfeil","items":{"required":["feilaktigVerdi","feilmelding","parametere"],"type":"object","properties":{"feilmelding":{"type":"string","description":"Nøyaktig beskrivelse av feilen"},"parametere":{"type":"array","description":"Liste over gjeldende parametere","items":{"type":"string","description":"Parameter"}},"feilaktigVerdi":{"type":"string","description":"Verdien som forårsaket feilen. OBS! Bør ikke implementers i GUI pga fare for script-injection"}},"description":"Valideringsfeil, med feilmelding, innsendte parametere og feilaktig verdi"}}},"description":"Responsobjekt for 400-feilmelding med detaljer"},"ServerErrorRespons":{"type":"object","properties":{"timestamp":{"type":"string","description":"Tidspunkt feilen oppstod. Format er ISO-8601"},"status":{"type":"string","description":"HTTP statuskode for feilmeldingen"},"error":{"type":"string","description":"HTTP beskrivelse for status"},"message":{"type":"string","description":"En tekstlig beskrivelse av feilen"},"path":{"type":"string","description":"Sti til dette endepunktet"},"trace":{"type":"string","description":"En tilfeldig generert UUID. Hvis du trenger hjelp, så kan du sende denne til oss. Da kan vi finne feilen raskere."}},"description":"Respons for generisk feilmelding"},"Link":{"type":"object","properties":{"href":{"type":"string"},"hreflang":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"deprecation":{"type":"string"},"profile":{"type":"string"},"name":{"type":"string"},"templated":{"type":"boolean"}}},"Links":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}},"responses":{"200":{"description":"Returnerer alle roller knyttet til enheten","content":{"application/vnd.brreg.enhetsregisteret.rolle.v1+json":{"schema":{"$ref":"#/components/schemas/RolleRespons"},"examples":{"PersonSomRolleinnehaver":{"$ref":"#/components/examples/PersonSomRolleinnehaver"},"PersonMedVergeSomRolleinnehaver":{"$ref":"#/components/examples/PersonMedVergeSomRolleinnehaver"},"EnheterSomRolleinnehavere":{"$ref":"#/components/examples/EnheterSomRolleinnehavere"},"MultipleRollegrupperAnsvarligSelskap":{"$ref":"#/components/examples/MultipleRollegrupperAnsvarligSelskap"},"MultipleRollegrupperEnkeltpersonsforetak":{"$ref":"#/components/examples/MultipleRollegrupperEnkeltpersonsforetak"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/RolleRespons"},"examples":{"PersonSomRolleinnehaver":{"$ref":"#/components/examples/PersonSomRolleinnehaver"},"PersonMedVergeSomRolleinnehaver":{"$ref":"#/components/examples/PersonMedVergeSomRolleinnehaver"},"EnheterSomRolleinnehavere":{"$ref":"#/components/examples/EnheterSomRolleinnehavere"},"MultipleRollegrupperAnsvarligSelskap":{"$ref":"#/components/examples/MultipleRollegrupperAnsvarligSelskap"},"MultipleRollegrupperEnkeltpersonsforetak":{"$ref":"#/components/examples/MultipleRollegrupperEnkeltpersonsforetak"}}},"application/json":{"schema":{"$ref":"#/components/schemas/RolleRespons"},"examples":{"PersonSomRolleinnehaver":{"$ref":"#/components/examples/PersonSomRolleinnehaver"},"PersonMedVergeSomRolleinnehaver":{"$ref":"#/components/examples/PersonMedVergeSomRolleinnehaver"},"EnheterSomRolleinnehavere":{"$ref":"#/components/examples/EnheterSomRolleinnehavere"},"MultipleRollegrupperAnsvarligSelskap":{"$ref":"#/components/examples/MultipleRollegrupperAnsvarligSelskap"},"MultipleRollegrupperEnkeltpersonsforetak":{"$ref":"#/components/examples/MultipleRollegrupperEnkeltpersonsforetak"}}}}},"400":{"description":"Feilaktig forespørsel, grunnet organisasjonsnummer med ugyldige tegn eller lengde","content":{"application/vnd.brreg.enhetsregisteret.rolle.v1+json":{"schema":{"$ref":"#/components/schemas/RollerBadRequestRespons"},"examples":{"RollerBadRequestRespons":{"$ref":"#/components/examples/RollerBadRequestRespons"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/RollerBadRequestRespons"},"examples":{"RollerBadRequestRespons":{"$ref":"#/components/examples/RollerBadRequestRespons"}}},"application/json":{"schema":{"$ref":"#/components/schemas/RollerBadRequestRespons"},"examples":{"RollerBadRequestRespons":{"$ref":"#/components/examples/RollerBadRequestRespons"}}}}},"500":{"description":"En uventet feil oppstod","content":{"application/vnd.brreg.enhetsregisteret.rolle.v1+json":{"schema":{"$ref":"#/components/schemas/ServerErrorRespons"},"examples":{"ServerErrorRespons":{"$ref":"#/components/examples/ServerErrorRespons"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/ServerErrorRespons"},"examples":{"ServerErrorRespons":{"$ref":"#/components/examples/ServerErrorRespons"}}},"application/json":{"schema":{"$ref":"#/components/schemas/ServerErrorRespons"},"examples":{"ServerErrorRespons":{"$ref":"#/components/examples/ServerErrorRespons"}}}}},"200-roller-totalbestand":{"description":"Returnerer en gzip-komprimert json-fil med alle roller for alle enheter","headers":{"Content-Disposition":{"style":"simple","explode":false,"schema":{"type":"string","example":"attachment; filename=\"roller_2021-01-21T08-21-32.300907.json.gz\""}},"ETag":{"style":"simple","explode":false,"schema":{"type":"string"}}},"content":{"application/gzip":{"schema":{"type":"string","format":"binary"}}}},"500-roller-totalbestand":{"description":"En uventet feil oppstod","content":{"application/gzip":{"schema":{"$ref":"#/components/schemas/ServerErrorRespons"},"examples":{"ServerErrorRespons":{"$ref":"#/components/examples/TotalbestandRollerServerErrorRespons"}}}}},"200-rolleoppdateringer":{"description":"Returnerer rolleoppdateringer","content":{"application/cloudevents-batch+json":{"schema":{"$ref":"#/components/schemas/Rolleoppdateringer"},"examples":{"RolleoppdateringerRespons":{"$ref":"#/components/examples/RolleoppdateringerRespons"},"RolleoppdateringerAfterIdRespons":{"$ref":"#/components/examples/RolleoppdateringerAfterIdRespons"},"RolleoppdateringerAfterTimeRespons":{"$ref":"#/components/examples/RolleoppdateringerAfterTimeRespons"},"RolleoppdateringerOrganisasjonsnummerRespons":{"$ref":"#/components/examples/RolleoppdateringerOrganisasjonsnummerRespons"},"RolleoppdateringerSizeRespons":{"$ref":"#/components/examples/RolleoppdateringerSizeRespons"}}}}},"200-rolletype":{"description":"Returnerer en rolletype basert på en kode","content":{"application/vnd.brreg.enhetsregisteret.rolletype.v1+json":{"schema":{"$ref":"#/components/schemas/Rolletype"},"examples":{"RolletyperOppslagRespons":{"$ref":"#/components/examples/RolletyperOppslagRespons"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/Rolletype"},"examples":{"RolletyperOppslagRespons":{"$ref":"#/components/examples/RolletyperOppslagRespons"}}},"application/json":{"schema":{"$ref":"#/components/schemas/Rolletype"},"examples":{"RolletyperOppslagRespons":{"$ref":"#/components/examples/RolletyperOppslagRespons"}}}}},"200-rolletyper":{"description":"Returnerer alle rolletyper. Eksemplet er statisk og viser ikke alle nåværende typene. For å få alle typene må du gjøre spørringen fra eksemplet selv.","content":{"application/vnd.brreg.enhetsregisteret.rolletype.v1+json":{"schema":{"$ref":"#/components/schemas/Rolletyper"},"examples":{"RolletyperSporringRespons":{"$ref":"#/components/examples/RolletyperSporringRespons"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/Rolletyper"},"examples":{"RolletyperSporringRespons":{"$ref":"#/components/examples/RolletyperSporringRespons"}}},"application/json":{"schema":{"$ref":"#/components/schemas/Rolletyper"},"examples":{"RolletyperSporringRespons":{"$ref":"#/components/examples/RolletyperSporringRespons"}}}}},"200-rollegruppetype":{"description":"Returnerer en rollegruppetype basert på en kode","content":{"application/vnd.brreg.enhetsregisteret.rollegruppetype.v1+json":{"schema":{"$ref":"#/components/schemas/Rollegruppetype"},"examples":{"RollegruppetyperOppslagRespons":{"$ref":"#/components/examples/RollegruppetyperOppslagRespons"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/Rollegruppetype"},"examples":{"RollegruppetyperOppslagRespons":{"$ref":"#/components/examples/RollegruppetyperOppslagRespons"}}},"application/json":{"schema":{"$ref":"#/components/schemas/Rollegruppetype"},"examples":{"RollegruppetyperOppslagRespons":{"$ref":"#/components/examples/RollegruppetyperOppslagRespons"}}}}},"200-rollegruppetyper":{"description":"Returnerer alle rollegruppetyper. Eksemplet er statisk og viser ikke alle nåværende typene. For å få alle typene må du gjøre spørringen fra eksemplet selv.","content":{"application/vnd.brreg.enhetsregisteret.rollegruppetype.v1+json":{"schema":{"$ref":"#/components/schemas/Rollegruppetyper"},"examples":{"RollegruppetyperSporringRespons":{"$ref":"#/components/examples/RollegruppetyperSporringRespons"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/Rollegruppetyper"},"examples":{"RollegruppetyperSporringRespons":{"$ref":"#/components/examples/RollegruppetyperSporringRespons"}}},"application/json":{"schema":{"$ref":"#/components/schemas/Rollegruppetyper"},"examples":{"RollegruppetyperSporringRespons":{"$ref":"#/components/examples/RollegruppetyperSporringRespons"}}}}},"200-representant":{"description":"Returnerer en representant basert på en kode","content":{"application/vnd.brreg.enhetsregisteret.representant.v1+json":{"schema":{"$ref":"#/components/schemas/Representant"},"examples":{"RepresentanterGetEnRespons":{"$ref":"#/components/examples/RepresentanterGetEnRespons"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/Representant"},"examples":{"RepresentanterGetEnRespons":{"$ref":"#/components/examples/RepresentanterGetEnRespons"}}},"application/json":{"schema":{"$ref":"#/components/schemas/Representant"},"examples":{"RepresentanterGetEnRespons":{"$ref":"#/components/examples/RepresentanterGetEnRespons"}}}}},"200-representanter":{"description":"Returnerer alle representanter. Eksemplet er statisk og viser ikke alle nåværende typene. For å få alle typene må du gjøre spørringen fra eksemplet selv.","content":{"application/vnd.brreg.enhetsregisteret.representant.v1+json":{"schema":{"$ref":"#/components/schemas/Representanter"},"examples":{"RepresentanterGetAlleRespons":{"$ref":"#/components/examples/RepresentanterGetAlleRespons"}}},"application/hal+json":{"schema":{"$ref":"#/components/schemas/Representanter"},"examples":{"RepresentanterGetAlleRespons":{"$ref":"#/components/examples/RepresentanterGetAlleRespons"}}},"application/json":{"schema":{"$ref":"#/components/schemas/Representanter"},"examples":{"RepresentanterGetAlleRespons":{"$ref":"#/components/examples/RepresentanterGetAlleRespons"}}}}}},"examples":{"PersonSomRolleinnehaver":{"summary":"Person som rolleinnehaver","value":{"rollegrupper":[{"type":{"kode":"STYR","beskrivelse":"Styre","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/STYR"}}},"sistEndret":"2019-01-01","roller":[{"type":{"kode":"LEDE","beskrivelse":"Styrets leder","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/LEDE"}}},"person":{"fodselsdato":"1981-01-01","navn":{"fornavn":"Ove","etternavn":"Olsen"},"erDoed":false},"valgtAv":{"kode":"A-AK","beskrivelse":"Representant for A-aksjonærene","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/representanter/A-AK"}}},"fratraadt":false,"rekkefolge":0}]}],"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810004622/roller"},"enhet":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810004622"}}}},"PersonMedVergeSomRolleinnehaver":{"summary":"Person med verge som rolleinnehaver","value":{"rollegrupper":[{"type":{"kode":"STYR","beskrivelse":"Styre","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/STYR"}}},"sistEndret":"2019-01-01","roller":[{"type":{"kode":"LEDE","beskrivelse":"Styrets leder","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/LEDE"}}},"person":{"fodselsdato":"1980-01-01","navn":{"fornavn":"Bendik","etternavn":"Olsen"},"erDoed":false,"verge":{"fodselsdato":"1981-01-01","navn":{"fornavn":"Ove","etternavn":"Olsen"},"erDoed":false}},"fratraadt":false,"rekkefolge":0}]}],"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810003952/roller"},"enhet":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810003952"}}}},"EnheterSomRolleinnehavere":{"summary":"Enheter som rolleinnehavere","value":{"rollegrupper":[{"type":{"kode":"DELT","beskrivelse":"Deltakere","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/DELT"}}},"sistEndret":"2021-02-01","roller":[{"type":{"kode":"DTPR","beskrivelse":"Deltaker med delt ansvar","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DTPR"}}},"enhet":{"organisasjonsnummer":"810006242","organisasjonsform":{"kode":"AS","beskrivelse":"Aksjeselskap","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/AS"}}},"navn":["Rolfsens Deltakerorganisasjon AS"],"erSlettet":false,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810006242"}}},"ansvarsandel":"50%","fratraadt":false,"rekkefolge":0},{"type":{"kode":"DTPR","beskrivelse":"Deltaker med delt ansvar","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DTPR"}}},"enhet":{"organisasjonsnummer":"810004282","organisasjonsform":{"kode":"AS","beskrivelse":"Aksjeselskap","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/AS"}}},"navn":["Sult AS"],"erSlettet":false,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810004282"}}},"ansvarsandel":"50%","fratraadt":false,"rekkefolge":1}]}],"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810005912/roller"},"enhet":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810005912"}}}},"MultipleRollegrupperAnsvarligSelskap":{"summary":"Multiple rollegrupper - Ansvarlig selskap med delt ansvar (DA)","value":{"rollegrupper":[{"type":{"kode":"DAGL","beskrivelse":"Daglig leder","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/DAGL"}}},"sistEndret":"2020-11-06","roller":[{"type":{"kode":"DAGL","beskrivelse":"Daglig leder","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DAGL"}}},"person":{"fodselsdato":"1990-11-11","navn":{"fornavn":"Lise","etternavn":"Olsen"},"erDoed":false},"fratraadt":false,"rekkefolge":0}]},{"type":{"kode":"STYR","beskrivelse":"Styre","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/STYR"}}},"sistEndret":"2021-01-02","roller":[{"type":{"kode":"LEDE","beskrivelse":"Styrets leder","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/LEDE"}}},"person":{"fodselsdato":"1965-05-05","navn":{"fornavn":"Harald","etternavn":"Haraldson"},"erDoed":false},"fratraadt":false,"rekkefolge":0},{"type":{"kode":"NEST","beskrivelse":"Nestleder","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/NEST"}}},"person":{"fodselsdato":"1975-10-07","navn":{"fornavn":"Randi","etternavn":"Randida"},"erDoed":false},"fratraadt":false,"rekkefolge":1},{"type":{"kode":"MEDL","beskrivelse":"Styremedlem","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/MEDL"}}},"person":{"fodselsdato":"1968-07-07","navn":{"fornavn":"Marit","etternavn":"Bertheussen"},"erDoed":false},"fratraadt":true,"rekkefolge":2},{"type":{"kode":"MEDL","beskrivelse":"Styremedlem","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/MEDL"}}},"person":{"fodselsdato":"1905-05-11","navn":{"fornavn":"Guttorm","etternavn":"Hansen"},"erDoed":false,"verge":{"fodselsdato":"1975-02-21","navn":{"fornavn":"Jens","mellomnavn":"Erlend","etternavn":"Hansen"},"erDoed":false}},"fratraadt":false,"rekkefolge":3},{"type":{"kode":"MEDL","beskrivelse":"Styremedlem","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/MEDL"}}},"person":{"fodselsdato":"1928-05-05","navn":{"fornavn":"Olav","etternavn":"Haraldson"},"erDoed":true},"fratraadt":false,"rekkefolge":4}]},{"type":{"kode":"DELT","beskrivelse":"Deltakere","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/DELT"}}},"sistEndret":"2020-12-01","roller":[{"type":{"kode":"DTPR","beskrivelse":"Deltaker med delt ansvar","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DTPR"}}},"person":{"fodselsdato":"1991-03-03","navn":{"fornavn":"Lars","mellomnavn":"Magne","etternavn":"Magnusson"},"erDoed":false},"fratraadt":false,"ansvarsandel":"25%","rekkefolge":0},{"type":{"kode":"DTPR","beskrivelse":"Deltaker med delt ansvar","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DTPR"}}},"enhet":{"organisasjonsnummer":"810006072","organisasjonsform":{"kode":"AS","beskrivelse":"Aksjeselskap","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/AS"}}},"navn":["Hansen & Brunsen AS"],"erSlettet":false,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810006072"}}},"fullmektige":[{"navn":"Mr Fullmektig","adresse":["Fullmektigveien 1","0001 Oslo"]}],"ansvarsandel":"25%","fratraadt":false,"rekkefolge":1},{"type":{"kode":"DTPR","beskrivelse":"Deltaker med delt ansvar","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DTPR"}}},"enhet":{"organisasjonsnummer":"810004312","organisasjonsform":{"kode":"AS","beskrivelse":"Aksjeselskap","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/AS"}}},"navn":["Slettet deltakerorganisasjon AS"],"erSlettet":true,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810004312"}}},"ansvarsandel":"25%","fratraadt":false,"rekkefolge":2},{"type":{"kode":"DTPR","beskrivelse":"Deltaker med delt ansvar","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DTPR"}}},"enhet":{"organisasjonsnummer":"810004762","organisasjonsform":{"kode":"AS","beskrivelse":"Aksjeselskap","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/AS"}}},"navn":["Fratrådt Nilsen AS."],"erSlettet":false,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810004762"}}},"fratraadt":true,"ansvarsandel":"25%","rekkefolge":3}]},{"type":{"kode":"REVI","beskrivelse":"Revisor","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/REVI"}}},"sistEndret":"2021-02-03","roller":[{"type":{"kode":"REVI","beskrivelse":"Revisor","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/REVI"}}},"enhet":{"organisasjonsnummer":"810007192","organisasjonsform":{"kode":"AS","beskrivelse":"Aksjeselskap","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/AS"}}},"navn":["Revisormesterne AS"],"erSlettet":false,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810007192"}}},"fratraadt":false,"rekkefolge":0}]},{"type":{"kode":"REGN","beskrivelse":"Regnskapsfører","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/REGN"}}},"sistEndret":"2021-02-03","roller":[{"type":{"kode":"REGN","beskrivelse":"Regnskapsfører","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/REGN"}}},"enhet":{"organisasjonsnummer":"810007052","organisasjonsform":{"kode":"ENK","beskrivelse":"Enkeltpersonsforetak","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/ENK"}}},"navn":["Ultra Regnskapsfører"],"erSlettet":false,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810007052"}}},"fratraadt":false,"rekkefolge":0}]}],"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/910063367/roller"},"enhet":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/910063367"}}}},"MultipleRollegrupperEnkeltpersonsforetak":{"summary":"Multiple rollegrupper - Enkeltpersonsforetak (ENK)","value":{"rollegrupper":[{"type":{"kode":"INNH","beskrivelse":"Innehaver","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/INNH"}}},"sistEndret":"2020-11-06","roller":[{"type":{"kode":"INNH","beskrivelse":"Innehaver","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/INNH"}}},"person":{"fodselsdato":"1985-12-06","navn":{"fornavn":"Karl","mellomnavn":"Karlos","etternavn":"Karlson"},"erDoed":false},"fratraadt":false,"rekkefolge":0}]},{"type":{"kode":"REVI","beskrivelse":"Revisor","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/REVI"}}},"sistEndret":"2021-02-03","roller":[{"type":{"kode":"REVI","beskrivelse":"Revisor","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/REVI"}}},"enhet":{"organisasjonsnummer":"810007192","organisasjonsform":{"kode":"AS","beskrivelse":"Aksjeselskap","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/AS"}}},"navn":["Revisormesterne AS"],"erSlettet":false,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810007192"}}},"fratraadt":false,"rekkefolge":0}]},{"type":{"kode":"REGN","beskrivelse":"Regnskapsfører","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/REGN"}}},"sistEndret":"2021-02-03","roller":[{"type":{"kode":"REGN","beskrivelse":"Regnskapsfører","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/REGN"}}},"enhet":{"organisasjonsnummer":"810007052","organisasjonsform":{"kode":"ENK","beskrivelse":"Enkeltpersonsforetak","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/organisasjonsformer/ENK"}}},"navn":["Ultra Regnskapsfører"],"erSlettet":false,"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/810007052"}}},"fratraadt":false,"rekkefolge":0}]}],"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/910313517/roller"},"enhet":{"href":"https://data.brreg.no/enhetsregisteret/api/enheter/910313517"}}}},"RollerBadRequestRespons":{"summary":"400 Ugyldig forespørsel","value":{"tidsstempel":1622200011303,"status":400,"feilmelding":"Feilaktig forespørsel","sti":"/enhetsregisteret/api/enheter/9ECD01011/roller","antallFeil":1,"valideringsfeil":[{"feilmelding":"Organisasjonsnummer må være et nummer med nøyaktig 9 siffer","parametere":["9ECD01011"],"feilaktigVerdi":"9ECD01011"}]}},"ServerErrorRespons":{"summary":"Error Respons","value":{"timestamp":"2021-05-28T11:34:33.435+0000","status":500,"error":"Internal Server Error","message":"Internal Server Error","path":"/enhetsregisteret/api/enheter/999999999/roller","trace":"5631709a-6e3e-4b72-94e7-fcbf6341272a"}},"TotalbestandRollerServerErrorRespons":{"summary":"Error Respons","value":{"timestamp":"2021-05-28T11:34:33.435+0000","status":500,"error":"Internal Server Error","message":"Internal Server Error","path":"/enhetsregisteret/api/roller/totalbestand","trace":"5631709a-6e3e-4b72-94e7-fcbf6341272a"}},"RolletyperSporringRespons":{"summary":"Søk etter alle rolletyper","value":{"_embedded":{"rolletyper":[{"kode":"ADOS","beskrivelse":"Administrativ enhet - offentlig sektor","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/ADOS"}}},{"kode":"BEST","beskrivelse":"Bestyrende reder","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/BEST"}}},{"kode":"BOBE","beskrivelse":"Bostyrer","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/BOBE"}}},{"kode":"DAGL","beskrivelse":"Daglig leder/administrerende direktør","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DAGL"}}},{"kode":"DTPR","beskrivelse":"Deltaker med proratarisk ansvar (delt ansvar)","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/DTPR"}}}]},"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper"}}}},"RolletyperOppslagRespons":{"summary":"Søk etter en rolletype - ADOS","value":{"kode":"ADOS","beskrivelse":"Administrativ enhet - offentlig sektor","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rolletyper/ADOS"}}}},"RollegruppetyperSporringRespons":{"summary":"Søk etter alle rollegruppetyper","value":{"_embedded":{"rollegruppetyper":[{"kode":"ADOS","beskrivelse":"Administrativ enhet - offentlig sektor","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/ADOS"}}},{"kode":"BEST","beskrivelse":"Bestyrende reder","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/BEST"}}},{"kode":"BOBE","beskrivelse":"Bostyrer","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/BOBE"}}},{"kode":"DAGL","beskrivelse":"Daglig leder/administrerende direktør","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/DAGL"}}},{"kode":"DELT","beskrivelse":"Deltakere","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/DELT"}}}]},"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper"}}}},"RollegruppetyperOppslagRespons":{"summary":"Søk etter en rollegruppetype - ADOS","value":{"kode":"ADOS","beskrivelse":"Administrativ enhet - offentlig sektor","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/rollegruppetyper/ADOS"}}}},"RepresentanterGetAlleRespons":{"summary":"Søk etter alle representanter","value":{"_embedded":{"representanter":[{"kode":"A-AK","beskrivelse":"Representant for A-aksjonærene","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/representanter/A-AK"}}},{"kode":"AREP","beskrivelse":"Representant for de ansatte","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/representanter/AREP"}}},{"kode":"B-AK","beskrivelse":"Representant for B-aksjonærene","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/representanter/B-AK"}}},{"kode":"C-AK","beskrivelse":"Representant for C-aksjonærene","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/representanter/C-AK"}}}]},"_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/representanter"}}}},"RepresentanterGetEnRespons":{"summary":"Søk etter en representant - AREP","value":{"kode":"AREP","beskrivelse":"Representant for de ansatte","_links":{"self":{"href":"https://data.brreg.no/enhetsregisteret/api/roller/representanter/AREP"}}}},"RolleoppdateringerRespons":{"summary":"Søk etter rolleoppdateringer","value":[{"specversion":"1.0","id":"1","source":"https://data.brreg.no/enhetsregisteret/api/enheter/974760673/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2021-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"974760673"}},{"specversion":"1.0","id":"2","source":"https://data.brreg.no/enhetsregisteret/api/enheter/974760674/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2022-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"974760674"}},{"specversion":"1.0","id":"3","source":"https://data.brreg.no/enhetsregisteret/api/enheter/810017902/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2023-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"810017902"}},{"specversion":"1.0","id":"4","source":"https://data.brreg.no/enhetsregisteret/api/enheter/810017903/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2024-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"810017903"}}]},"RolleoppdateringerAfterIdRespons":{"summary":"Søk etter rolleoppdateringer etter gitt ID","value":[{"specversion":"1.0","id":"2","source":"https://data.brreg.no/enhetsregisteret/api/enheter/974760674/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2022-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"974760674"}},{"specversion":"1.0","id":"3","source":"https://data.brreg.no/enhetsregisteret/api/enheter/810017902/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2023-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"810017902"}},{"specversion":"1.0","id":"4","source":"https://data.brreg.no/enhetsregisteret/api/enheter/810017903/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2024-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"810017903"}}]},"RolleoppdateringerAfterTimeRespons":{"summary":"Søk etter rolleoppdateringer etter et gitt tidspunkt","value":[{"specversion":"1.0","id":"3","source":"https://data.brreg.no/enhetsregisteret/api/enheter/810017902/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2023-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"810017902"}},{"specversion":"1.0","id":"4","source":"https://data.brreg.no/enhetsregisteret/api/enheter/810017903/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2024-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"810017903"}}]},"RolleoppdateringerOrganisasjonsnummerRespons":{"summary":"Søk etter rolleoppdateringer for en gitt virksomhet","value":[{"specversion":"1.0","id":"4","source":"https://data.brreg.no/enhetsregisteret/api/enheter/810017903/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2024-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"810017903"}}]},"RolleoppdateringerSizeRespons":{"summary":"Søk etter rolleoppdateringer med en spesifisert størrelse","value":[{"specversion":"1.0","id":"1","source":"https://data.brreg.no/enhetsregisteret/api/enheter/974760673/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2021-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"974760673"}},{"specversion":"1.0","id":"2","source":"https://data.brreg.no/enhetsregisteret/api/enheter/974760674/roller","type":"no.brreg.enhetsregisteret.rolle.oppdatert","time":"2022-00-00T00:00:00.000Z","data":{"organisasjonsnummer":"974760674"}}]}}}}